﻿@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'tt_walls_rough';
    src: url('../fonts/TTWalls-RoughBold.otf');
    ~font-weight: bold;
    font-style: normal;

}
/************************
    Сброс дефолта\Reset        
************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    
}


html, body, header{
    height: 100vh;
    width: 100vw;

}



.global{
    box-sizing: border-box;
}
body{
    overflow-x: hidden; /* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
	white-space: nowrap;
    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
}
/************************
  Предзагрузка\Preloader      
************************/
#preloader{
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    background: rgb(192,192,192) url(../static/grid.svg) center center no-repeat;
    background-size:5vh;
}

/************************
        Меню\Menu       
************************/
header{
    float: left;
    width: auto; /* если поставить 10vw, то будет ровно с логотипом, но будут проблемы с текстом. 
                    если же текст выравнивать автоматом под ширину, то он будет мелким. */
    min-width: 10vw;
    background: url(../static/menu_v2.jpg) no-repeat;
    background-size: cover;
}
#mini_menu,#mini_menu_close,#mini_menu_logo{
    display: none;
}
#logo_up{
    /* привязка к тексту внизу 
    
    float: right;
    margin: 8vh 1vw 3vh auto;
    height: 6vh;
    
    */
    
    /* середина. одинаковые отступы сбоку. При ширине меню 10vw. */
    width: 8vw;
    min-width: 8vw;
    margin: 8vh 1vw 3vh 1vw;
}
.nav_wrap{
    height:29vh;
}
#nav_wrap_mid{
    height:42vh;
}
.h2_menu{
    opacity:0;
    width: 0;
    height: 0;
}
.h3_menu{
    font-size: 120%;
}
#menu{
    list-style-type:none;
    text-align: right;
    ~font-family: TTWalls-RoughBold;
}
.menu_li{
    margin: 0 1vw 2.5vh 1vw;
    
}
.menu__a,
.menu__a__active{
    text-decoration: none;
    color: white;
    position: relative;
    transition: .5s linear;
    font-family: tt_walls_rough, Arial, sans-serif;
}
.menu__a:after,
.menu__a__active:after{
    content: "";
	width: 0;
	height: 1px;
	position: absolute;
	left: 0;
    bottom: -0.5vh;
	background: white;
	transition: all 0.5s linear;  
}
.menu__a:hover:after,
.menu__a__active:after{
    width: 100%;
}
.menu__a:visited{
    text-decoration: none;
    color: white;
}
.menu__a:hover{
    text-decoration: none;
    color: white;
}
.menu__a:active{
    text-decoration: none;
    color: white;
}
#reposts{
    top: 100%;
    bottom: 0;
    height: 4vh;
    text-align: center;
}
.share_link{
    text-decoration: none;
}
.share_buttons{
    height: 2.5vh;
    margin-right: 1vh;
    cursor: pointer;
}
.sb_left{
    margin-left: 1vh;
}
/************************
Основная зона\Main zone       
************************/
#main_wrap_up{
    height: 3vh;
}
#main_wrap_dwn{
    height: 5vh;
}
#main{
    width: auto;
    height:92vh;
    overflow: hidden;
    background: rgba(192,192,192, .2);
    white-space:nowrap;
    
    ~position: relative;
    ~float: left;
    ~height: 90vh;
    ~width: 91vw;
    ~background-color: green;
    ~overflow: hidden;
    
}
#logo_dwn{
    height: 2vh;
    margin: 1vh 4vw;
}
.cont{
    margin-left: 3vw;
}
@media only screen and (max-device-width: 768px) {
    .cont{
        margin-left: 1vw;
    }
}
.cont_wrap{
    height: 3vh;
}
#cont_mid{
    height: 86vh; 
    position: relative;
}
#last_five{
    margin-left: 2vw;
}
.cb{
    clear: both;
}
#scroll_button_left_vis,
#scroll_button_right_vis{
    height: 5vh;
    position: absolute;
    top: 50%;
    z-index: 999;
    opacity: 0.8;
}
#scroll_button_left_vis{
    left: 0;
}
#scroll_button_right_vis{
    right: 0;
}
#scroll_button_up_vis,
#scroll_button_down_vis{
    width: 5vh;
    position: absolute;
    left: 40%;
    z-index: 999;
    opacity: 0.8;
}
#scroll_button_down_vis{
    bottom: 0;
}
#scroll_button_up_vis{
    top: 5vh;
}
#scroll_button_left_vis:hover,
#scroll_button_right_vis:hover,
#scroll_button_up_vis:hover,
#scroll_button_down_vis:hover{
    opacity: 0.4;
}
/************************
Главная страница\Index page
************************/

#index__last__five{
    float: left;
    height: 86vh;
    width: 48vh;
    display: block;
    opacity: 1;
}
#index__last__five:hover{
    opacity: .5;
}
.last_five_sketches{
    width: 48vh;
    padding-left: 0;
    margin-left: 0;
}

.block{
    display:inline;
    float: left;
    height: 42vh;
    margin: 0 0 2vh 0;
    
    width: 48vh;
    ~text-align: center;
}
.first .secondRandomImage, .second .firstRandomImage, .first .secondRand, .second .firstRand{
    display: none;
}
.white{
    background-color: white;
}
.block_img{
    height: 100%;
    width: 100%;
}
.diag{
    background-color: rgba(192, 192, 192, 0.2);
}
.small{
    float: left;
    height: 20vh;
    width: 23vh;
    display: inline;
    margin-bottom: 2vh;
    background-color: rgba(192, 192, 192, 0.2);
    text-align: center;
    white-space: normal;
}
.mid{
    float: left;
    height: 20vh;
    width: 48vh;
    ~display: inline;
    display: table;
    margin-bottom: 2vh;
    background-color: rgba(192, 192, 192, 0.2);
    text-align: justify;
    white-space: normal;
    position: relative;
}
.mid_head{
    ~display: table-header-group;
    text-align: right;
    vertical-align: top;
    font-size: medium;
    position: absolute;
    top: 1vh;
    right: 1vh;
}
.mid_text{
    font-size: small;
    display: table-cell;
    margin: 1vh;
    padding: 1vh;
    vertical-align: bottom;
    ~position: absolute;
    ~bottom: 0;
}
.left{
    margin-right: 2vh;
}
.small_text{
    margin: 0 1vh;
    font-size: small;
}
.small_text_head{
    margin-top: 1vh;
}
.small_img{
    margin-top: 1vh;
    height: 8vh;
    
}
.index__scroll{
    height: 86vh;
}
.index__scroll_item{
    height: 86vh;
    display: inline-block;
    ~background-color: black;
    margin-right: 2vw;
    width: 48vh;
}
.indexFormUp{
    width: 44vh;
    height: 3vh;
    text-align: left;
    margin: 1vh 2vh 1vh 2vh;
    position: relative;
}
.indexFormLabel,
.indexFormButton{
    position: absolute;
    vertical-align: middle;
    display: inline-block;
}
.indexFormLabel{
    padding-top: 1px;
}
.indexFormInput{
    left: 0;
    width: 44vh;
    min-height: 3vh;
    font-family: Verdana, sans-serif;
    font-size: medium;
    margin: 0 2vh 1vh 2vh;
    outline: none;
    border: none;
}
.indexComment{
    height:11vh;
    resize:none;
    width: 44vh;
    padding: 0;
}
.indexFormButton {
    right: 0;
    top: 0;
   ~border-top: 1px solid #000000;
   background: #000000;
   ~padding: 5px 10px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #fafafa;
   font-size: medium;
   margin: 0;
   font-family: Verdana, sans-serif;
   text-decoration: none;
   vertical-align: middle;
   float: right;
   height: 3vh;
}
.indexFormButton:hover {
   border-top-color: #292929;
   background: #292929;
   color: #f7f7f7;
   cursor: pointer;
   }
.indexFormButton:active {
   border-top-color: #000000;
   background: #000000;
}

/************************
Список проектов\List of projects
************************/

.list__scroll{
    height: 86vh;
}
.project_link{
    display: inline-block;
    height: 86vh;
    width: 48vh;
    margin-right: 2vw;
    position: relative;
    overflow: hidden;
}
.project_link_small{
    display: inline-block;
    height: 42vh;
    width: 48vh;
    margin-right: 2vw;
    position: relative;
    overflow: hidden;
}
.projects__list__img{
    float: left;
    height: 86vh;
    width: 48vh;
    margin-right: 2vw;
    display: inline-block;
}
.descr{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    color: white;
    text-align: center;
    padding-top: 41vh;
    ~display: none;
    opacity: 0;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s;
}
.descr_small{
    padding-top: 20vh;
}
.descr_text{
    opacity: 0;
    -webkit-transition: all ease-in .5s;
    -o-transition: all ease-in .5s;
    transition: all ease-in .5s;
}

.project_link:hover .descr{
    ~display: block;
    opacity: 1;
    ~left: 0;
}
.project_link:hover .descr_text{
    opacity: 1;
}
.project_link_small:hover .descr{
    opacity: 1;
}
.project_link_small:hover .descr_text{
    opacity: 1;
}

/************************
Детализация проекта\Project details
************************/

.project{
    height: 88vh;
    width: 999vh;
    overflow: hidden;
}
.project_wrap{
    height: 85vh;
    display: inline-block;
    float: left;
    ~background-color: black;
    margin-right: 4vw;
    position: relative;
}
.project_name{
    margin: 0 0 2vh 0;
    font-size: 130%;
    height: 3vh;
}
.project_name_link, .project_name_link:hover, .project_name_link:active, .project_name_link:visited, .project_name_link:link{
    text-decoration: none;
    color: black;
}
.images__scroll{
    height: 80vh;
    width: 114vh;
    float: left;
    ~margin-right: 4vw;
    ~background-color: green;
    /* не нужны при работе с плагином, для скрола мышью и стилизации скрола */
    ~overflow: hidden;
    ~overflow-x: scroll;
}
.details__image{
    height: 80vh;
    margin-right: 1vw;
}
.text__wrap{
    width: 20%;
    height: 25vh;
    display: inline-block;
}

.text__scroll{
    width: 33vh;
    height: 80vh;
    margin: 5vh 0 0 0;;
    white-space: normal;
    ~overflow: hidden;
    ~overflow-y: scroll;
    display: inline-block;
    position: relative;
    color: white;
    ~padding: 2vh;
    background-color: rgba(50,50,50,0.8);
}
.t_scroll{
    margin: 1vh;
    overflow: hidden;
    text-align: justify;
}
.gray{
    position: absolute;
    top: 40vh;
    width: 100%;
    background-color: grey;
}


/************************
Состав и стоимость\Prices
************************/

#price{
    height: 84vh;
    margin: 2vh 0 0 1vw;
    position: relative;
}
#price_head{
    height: 21vh;
    
    position: absolute;
    opacity: 0;
    left: 0;
    top: 100%;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
#price_head.show{
    opacity: 1;
    top: 0;
}
#price__scroll{
    width: 40vw;
    height: 53vh;
    white-space:normal;
    overflow: hidden;
    ~overflow-y: scroll;
    display: inline-block;
    
    position: absolute;
    opacity: 0;
    left: 0;
    top: 100%;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
#downloads{
    height: 5vh;
    position: absolute;
    left: 0;
    opacity: 0;
    bottom: -100%;
    
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}
#downloads.show{
    opacity: 1;
    bottom: 0;
}
.download_link{
    display: block;
    margin: 1vh 0 0 0;
}
.download_link, .download_link:hover, .download_link:visited, .download_linkactive{
    text-decoration: none;
    color: black;
}
#price__scroll.show{
    opacity: 1;
    top: 26vh;
}
.price_variants{
    ~margin-top: 16vh; /* Временно пока отступа */
}
#price_images{
    
}
.price_image{
    height: 16vh;
    width: 16vh;
    margin: 3vh 0 3vh 3vw;
}
.pul{
    ~margin: 15px;
    padding-left: 1vw;
    list-style: disk outside;
    list-style-type: disk;
}
.pul li ul{
    ~margin: 15px;
    padding-left: 1vw;
    list-style: disk outside;
    list-style-type: disk;
}
.pli{
    ~padding-left: 1vw;
}
ul.ul-treefree { padding-left:25px; }
ul.ul-treefree ul { margin:0; padding-left:6px; }
ul.ul-treefree li { position:relative; list-style:none outside none; border-left:solid 1px #999; margin:0; padding:0 0 0 19px; line-height:23px; }
ul.ul-treefree li:before { content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0; }
ul.ul-treefree li:last-child { border-left:0 none; }
ul.ul-treefree li:last-child:before { border-left:solid 1px #999; }
ul.ul-dropfree div.drop {
width:11px;
height:11px;
position:absolute;
z-index:10;
top:6px;
left:-6px;
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC');
background-position:-11px 0;
background-repeat:no-repeat;
cursor:pointer;
}
/************************
   Контакты \ Contacts
************************/
.contacts_scroll{
    height: 100%;
}
.contacts_scroll_item{
    display: inline-block;
    margin-left: 4vw;
    ~width: 43.5vh;
    width: 25vw;
    text-align: left;
    height: 47vh;
    position: relative;
   ~ background-color: red;
}
.csi_left{
    margin-left: 1vw;
}
.csi_slide{
    width: 25vw;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 100%;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s; 
    ~margin-right: 6vw;
}
.csi_slide.show{
    opacity: 1;
    top: 0;
}
.csi_wrap{
    height: 20vh;
    position: relative;
}
.csi_mid{ 
    height: 47vh;
}
.csi_mid.show{
    opacity: 1;
    top: 0;
}
.csi_label{
    margin-bottom: 4vh;
}
.c_person{
    background-color: white;
    height: 13vh;
    width:auto;
    margin: 0 0 7vh 2vw;
}
.c_person_text{
    margin: 0 4vw 0 2vw;
    padding-top: 2vh;
}
.c_phone{
    display: inline;
    float: right;
}
.checkinput{
    width: 23vw;
    min-height: 3vh;
    font-family: Verdana, sans-serif;
    font-size: medium;
    margin: 0 0 1vh 2vw;
    outline: none;
    border: none;
}
.textA{
    height:16.3vh;
    resize:none;
    width: 23vw;
    padding: 0;
}
.checkbuttons {
   border-top: 1px solid #000000;
   background: #000000;
   padding: 5px 10px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #fafafa;
   font-size: medium;
   font-family: Verdana, sans-serif;
   text-decoration: none;
   vertical-align: middle;
   float: right;
   }
.checkbuttons:hover {
   border-top-color: #292929;
   background: #292929;
   color: #f7f7f7;
   cursor: pointer;
   }
.checkbuttons:active {
   border-top-color: #000000;
   background: #000000;
}
.addr{
    margin-left: 2vw;
    background-color: white;
    height: 33vh;
    width: auto;
}
.place{
    margin: 2vh 0 5vh 2vw;
    width: 100%;
    padding-top: 2vh;
}
.place.p_bottom{
    padding-top: 10vh;
}
.map, .map:hover, .map:active, .map:visited{
    margin: 0 3vw 10vh auto;
    width: 100%;
    text-align: right;
    float:right;
    color: black;
    text-decoration: none;
}
   
/************************
   Команда \ Team
************************/
.outer{
    position: relative;
    height: 15vh;
}
.big{
    position: absolute;
    font-size: 300%;
    height: 100%;
    width: 100%;
    opacity: 0;
    bottom: 100%;
    left: 0;
    transition: all 1s;
}
.tm_wrap,
.tm_wrap_mid{
    height: 20vh;
    position: relative;
}
.tm_wrap_mid{
    height: 46vh;
}
.big.show{
    opacity: 1;
    bottom: 0;
}
.person{
    top: 0;
    display: inline-block;
    margin-right: 2vw;
    width: 30vh;
    height: 47vh;
    ~position: absolute;
    text-align: left;
    ~background-color: green;
    white-space: normal;
    overflow: hidden;
    position: relative;
}
.person_name{
    display: inline-block;
    opacity: 0;
    position: absolute;
    transition: all .5s;
    width: auto;
    font-size: 110%;
}
.person_name.show{
    opacity: 1;
}
.person_name_line{
    display: inline-block;
    content: "";
    width: 0px;
    height: 1px;
    position: absolute;
    left: 105%;
    top: 60%;
    background: black;
    transition: all 1s linear;  
    white-space: nowrap;
    overflow: hidden;
}
.person_name_line.show{
    width: 300%;
}
.person_first_block{
    height: 40%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 5vh 0 0 0;
    transition: all 1.2s;
}
.person_first_block.show{
    opacity: 1;
    top: 0;
}
.person_img{
    width: 15vh;
    height: 20vh;
    float: left;
    margin: 0 4vh 2vh 0;
}
.job{
    font-size: 120%;
    font-weight: 900;
    font-variant: small-caps;
    ~margin-top: 2vh;
    ~padding-top: 2vh;
    ~position: absolute;
    ~right: 0;
}
.person_text{
    position: absolute;
    top: 100%;
    left: 0;
    margin: 3vh 0 0 0;
    opacity: 0;
    transition: all 1.4s;
}
.person_text.show{
    opacity: 1;
    top: 22vh;
}
/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */

@media screen and (max-height: 950px){
    body
    {
        font-size: small;
    }
    .checkbuttons, .checkinput, .indexFormButton, .indexFormInput
    {
        font-size: small;
    }
    #price__scroll
    {
        width: 50vw;
    }
    .person
    {
        width: 30vh;
    }
}
@media screen and (max-height: 800px){
    .mid_text, .small_text{
        font-size: x-small;
    }
    
}
@media screen and (max-height: 720px){
    body{
        font-size: x-small;
    }
    .checkbuttons, .checkinput, .indexFormButton, .indexFormInput
    {
        font-size: x-small;
    }
    .mid_text{
        font-size: xx-small;
    }
}
@media screen and (max-width: 769px){
    header{
        float: none;
        width: 100%;
        height: auto;
        min-height: 5vh;
        text-align: center;
    }
    h2{
        font-size: xx-small;
    }
    #mini_menu{
        display: block;
    }
    #mini_menu_img{
        height: 5vw;
        min-height: 5vh;
        display: inline;
        cursor: pointer;
    }
    #mini_menu_close{
        float: right;
        font-size: x-large;
        color: white;
        ~margin: 1vw 3vw 3vw 0;
        cursor: pointer;
        display: inline-block;
    }
    #mini_menu_logo{
        ~margin: 1vw 3vw 3vw 0;

    }
    #mini_logo_up_link{
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    #mini_logo_up{
        width: 30vw;
        cursor: pointer;
        display: inline-block;
    }
    #logo_up{
        width: 8vw;
        min-width: 8vw;
        margin: 8vh 1vw 3vh 1vw;
        display: none;
    }
    .nav_wrap{
        height: 0;
        display: none;
    }
    #nav_wrap_mid{
        height:auto;
        display: none;
    }
    #menu{
        margin: 3vw;
        text-align: center;
        height: auto;
        padding: 3vw;
    }
    #main_wrap_up{
        height: 0;
        display: none;
    }
    #main_wrap_dwn{
        height: 0;
        display: none;
    }
    #main{
        width: 100vw;
        height: 165vw;
    }
    #logo_dwn{
        height: 2vh;
        margin: 1vh 4vw;
    }
    .cont{
        margin-left: 0;
    }
    .cont_wrap{
        height: 0;
        display: none;
    }
    #cont_mid{
        width: 96vw;
        margin: 0 0 0 4vw;
        height: auto; 
    }
    
    .index__scroll{
        height: 165vw;
        width: 92vw;
        overflow: auto;
    }
    .index__scroll_item{
        height: 165vw;
        display: block;
        width: 92vw;
        margin: 3vw 0 3vw 0;
    }
    #scroll_button_left_vis,
    #scroll_button_right_vis{
        display: none;
    }
    
    #index__last__five{
        height: 165vw;
        width: 90vw;
    }
    .last_five_sketches{
        width: 100%;
        height: 100%;
        padding-left: 0;
        margin-left: 0;
    }
    .block{
        height: 81vw;
        margin: 0 0 3vw 0;
        width: 90vw;
    }
    .list__scroll{
        height: 165vw;
        overflow: auto;
    }
    .project_link{
        height: 165vw;
        display: block;
        width: 90vw;
        margin: 3vw 0 3vw 0;
    }
    .project_link_small{
        height: 81vw;
        width: 90vw;
        margin-right: 2vw;
    }
    .projects__list__img{
        height: 165vw;
        width: 90vw;
        margin-right: 2vw;
    }
    .small{
        height: 40vw;
        width: 44vw;
        margin-bottom: 2vw;
 
    }
    .small_img{
        margin-top: 1vw;
        height: 19vw;
    }
    .small_text{
        margin: 0 1vw;
        font-size: xx-small;
    }
    .left{
        margin-right: 2vw;
    }
    .diag{
        ~margin-left: 13.5vw;
        ~width: 48vh;
    }
    .mid{
        height: 40vw;
        width: 98%;
        margin-bottom: 2vw;
    }
    .mid_head{
        font-size: x-small;
        top: 1vw;
        right: 1vw;
    }
    .mid_text{
        font-size: xx-small;
        margin: 1vw;
        padding: 1vw;
    }
    .indexFormUp{
        width: 86vw;
        height: 5vw;
        margin: 1vw 2vw 1vw 2vw;
    }
    .indexFormLabel{
        padding-top: 1vw;
        font-size: small;
    }
    .indexFormInput{
        width: 86vw;
        min-height: 5vw;
        font-size: x-small;
        margin: 0 2vw 1vw 2vw;
    }
    .indexComment{
        height:35vw;
        width: 86vw;
    }
    .indexFormButton {
       height: 5vw;
    }
    
    
    
    .project{
        height: 165vw;
        width: 90vw;
        overflow: auto;
    }
    .project_wrap{
        height: 165vw;
        display: block;
    }
    .project_name{
        margin: 2vw 0 2vw 0;
        font-size: 130%;
        height: 3vh;
    }
    .project_name_link, .project_name_link:hover, .project_name_link:active, .project_name_link:visited, .project_name_link:link{
        text-decoration: none;
        color: black;
        
    }
    .images__scroll{
        height: 165vw;
        width: 90vw;
        overflow: auto;
    }
    .details__image{
        display: block;
        width: 88vw;
        height: auto;
        margin: 2vw 0 2vw 0;
    }
    #p_text{
        display: none;
    }
    .gray{
        position: absolute;
        top: 40vh;
        width: 100%;
        background-color: grey;
    }
    
    /************************
    Состав и стоимость\Prices
    ************************/

    #price{
        height: 165vw;
        margin: 2vh 0 0 1vw;
        overflow: auto;
    }
    #price_head{
        height: 26vw;
        opacity: 1;
        left: 0;
        top: 100%;
        position: static;
    }
    #price__scroll{
        width: 90vw;
        height: auto;
        white-space:normal;
        display: block;     
        opacity: 1;
        position: static;
        margin_bottom: 10vw;
        padding-bottom: 10vw;
    }
    #downloads{
        display: none; 
    }
    .price_image{
        height: 16vw;
        width: 16vw;
        margin: 3vw 0 3vw 10vw;
    }

    /************************
       Команда \ Team
    ************************/
    .csi_wrap{
        height: 0;
        position: static;
        opacity: 1;
    }
    .csi_mid{ 
        height: 165vw;
        overflow: auto;
    }
    .person{
        display: block;
        width: 90vw;
        height: 25vw;
        position: relative;
        margin: 3vw 0 0 23vw;
    }
    .person_name{
        display: none;
    }
    .person_img{
        width: 18vw;
        height: 25vw;
        float: left;
        margin: 0 4vh 2vh 0;
    }
    .person_first_block{
        display: block;
        height: 25vw;
        width: 90vw;
        opacity: 1;
        position: absolute;
        left: 0;
        top: 0;
        margin: 3vw 0 0 0;
    }

    
    /************************
       Контакты \ Contacts
    ************************/
    .contacts_scroll{
        height: 165vw;
        overflow: auto;
    }
    .contacts_scroll_item{
        display: block;
        margin: 3vw 0 0 0;
        ~width: 43.5vh;
        width: 90vw;
        text-align: left;
        height: 47vh;
        position: relative;
       ~ background-color: red;
    }
    .csi_left{
        margin-left: 1vw;
    }
    .csi_slide{
        width: 90vw;
        height: 100%;
        position: absolute;
        opacity: 1;
        left: 0;
        top: 0;
    }
    .csi_label{
        margin-bottom: 3vw;
    }
    .c_person{
        background-color: white;
        height: 13vh;
        width:auto;
        margin: 0 0 7vw 2vw;
    }
    .c_person_text{
        margin: 0 4vw 0 2vw;
        padding-top: 2vh;
    }
    .c_phone{
        display: inline;
        float: right;
    }
    .checkinput{
        width: 88vw;
        min-height: 3vh;
        font-family: Verdana, sans-serif;
        font-size: medium;
        margin: 0 0 1vh 2vw;
        outline: none;
        border: none;
    }
    .textA{
        height:16.3vh;
        resize:none;
        width: 88vw;
        padding: 0;
    }
    .checkbuttons {
       border-top: 1px solid #000000;
       background: #000000;
       padding: 5px 10px;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       border-radius: 4px;
       color: #fafafa;
       font-size: medium;
       font-family: Verdana, sans-serif;
       text-decoration: none;
       vertical-align: middle;
       float: right;
       }
    .checkbuttons:hover {
       border-top-color: #292929;
       background: #292929;
       color: #f7f7f7;
       cursor: pointer;
       }
    .checkbuttons:active {
       border-top-color: #000000;
       background: #000000;
    }
    .addr{
        margin-left: 2vw;
        background-color: white;
        height: 43vw;
        width: auto;
    }
    .place{
        margin: 2vw 0 5vw 2vw;
        width: 100%;
        height: 8vw;
        padding-top: 2vw;
    }
    .place.p_bottom{
        padding-top: 10vw;
    }
    .map, .map:hover, .map:active, .map:visited{
        margin: 0 3vw 10vw auto;
        width: 100%;
        text-align: right;
        float:right;
        color: black;
        text-decoration: none;
    }
}
@media screen and (max-width: 720px){
    .small_text{
        font-size: x-small;
    }
    .mid_text{
        font-size: x-small;
    }
    .indexFormLabel{
        font-size: x-small;
    }
}