﻿@font-face {
    font-family: 'tt_walls_rough';
    src: url('../fonts/TTWalls-RoughBold.otf');
    ~font-weight: bold;
    font-style: normal;

}
/************************
    Сброс дефолта\Reset        
************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    font-family: tt_walls_rough, Arial, sans-serif;
}


html, body, header{
    height: 100vh;
    width: 100vw;

}


.global{
    box-sizing: border-box;
}
body{
    overflow-x: hidden; /* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
	white-space: nowrap;
    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
}
/************************
  Предзагрузка\Preloader      
************************/
#preloader{
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    background: rgb(192,192,192) url(../static/grid.svg) center center no-repeat;
    background-size:5vh;
}

/************************
        Меню\Menu       
************************/
header{
    float: left;
    width: auto;
    background: url(../static/navbar.PNG) no-repeat;
    background-size: cover;

}
.nav_wrap{
    height:33.3vh;
}
#menu{
    list-style-type:none;
    text-align: right;
    font-size: 120%;
    ~font-family: TTWalls-RoughBold;
}
.menu_li{
    margin: 0 3vw 3vh 3vw;
}
.menu__a{
    ~margin: 0 3vw;
    text-decoration: none;
    color: white;
~    background-color:red;
}
.menu__a:visited{
    text-decoration: none;
    color: white;
}
.menu__a:hover{
    text-decoration: none;
    color: white;
}
.menu__a:active{
    text-decoration: none;
    color: white;
}

/************************
Основная зона\Main zone       
************************/
#main_wrap_up{
    height: 2.5vh;
}
#main_wrap_dwn{
    height: 4vh;
}
#main{
    width: auto;
    height:93.5vh;
    overflow: hidden;
    background: rgba(192,192,192, .2);
    white-space:nowrap;
    
    ~position: relative;
    ~float: left;
    ~height: 90vh;
    ~width: 91vw;
    ~background-color: green;
    ~overflow: hidden;
    
}
.cont{
    margin-left: 4.5vw;
}
.cont_wrap{
    height: 3vh;
}
#cont_mid{
    height: 87.5vh;
    ~line-height: 44.5vh; /* Здесь косяк в хроме, он неадекват */
    
}
#last_five{
    margin-left: 2vw;
}
.cb{
    clear: both;
}

/************************
Главная страница\Index page
************************/

#index__last__five{
    float: left;
    height: 87.5vh;
    display: block;
    opacity: 1;
}
#index__last__five:hover{
    opacity: .5;
}
#last_five_sketches{
    height: 43vh;
    width: 43.5vh;
}

.block{
    display:inline;
    float: left;
    height: 43vh;
    margin: 0 0 1.5vh 0;
    ~background-color: green;
    width: 43.5vh;
}
.small{
    float: left;
    height: 20.75vh;
    width: 21vh;
    display: inline;
    margin-bottom: 1.5vh;
    background-color: gray;
}
.left{
    margin-right: 1.5vh;
}


.index__scroll{
    height: 87.5vh;
}
.index__scroll_item{
    height: 87.5vh;
    display: inline-block;
    ~background-color: black;
    margin-right: 4.3vw;
    width: 43.5vh;
}

/************************
Список проектов\List of projects
************************/

.list__scroll{
    height: 87.5vh;
}

.projects__list__img{
    float: left;
    height: 87.5vh;
    margin-right: 2vw;
    display: inline-block;
}



/************************
Детализация проекта\Project details
************************/


.images__scroll{
    height: 50vh;
    ~background-color: green;
    /* не нужны при работе с плагином, для скрола мышью и стилизации скрола */
    ~overflow: hidden;
    ~overflow-x: scroll;
}
.details__image{
    height: 49vh;
    margin-right: 1vw;
}
.text__wrap{
    width: 20%;
    height: 25vh;
    display: inline-block;
}
.text__scroll{
    width: 60%;
    height: 25vh;
    white-space:normal;
    overflow: hidden;
    ~overflow-y: scroll;
    display: inline-block;
}


/************************
Состав и стоимость\Prices
************************/
.price__wrap{
    width: 20%;
    height: 87.5vh;
    display: inline-block;
}
.price__scroll{
    width: 60%;
    height: 87.5vh;
    white-space:normal;
    overflow: hidden;
    ~overflow-y: scroll;
    display: inline-block;
}
.pul{
    ~margin: 15px;
    padding-left: 1vw;
    list-style: disk outside;
    list-style-type: disk;
}
.pul li ul{
    ~margin: 15px;
    padding-left: 1vw;
    list-style: disk outside;
    list-style-type: disk;
}
.pli{
    ~padding-left: 1vw;
}


/************************
   Контакты \ Contacts
************************/

.checkinput{
    border-radius: 3px;
}

.contacts_scroll{
    height: 87.5vh;
    position: relative;
}
.contacts_scroll_item{
    height: 87.5vh;
    top: 0;
    display: inline-block;
    margin-right: 4.3vw;
    width: 43.5vh;
    position: absolute;
    text-align: center;
}
.csi_wrap{
    height: 29vh;
}
.textA{
    height:121px;
    resize:none;
}
.csi_right{
    left:calc(43.5vh + 4.3vw);
    left:-webkit-calc(43.5vh + 4.3vw);
    left:-moz-calc(43.5vh + 4.3vw);
}

.checkinput{
    width: 90%;
    font-family: tt_walls_rough, Arial, sans-serif;
    font-size: medium;
}

.checkbuttons {
   border-top: 1px solid #000000;
   background: #000000;
   padding: 5px 10px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #fafafa;
   font-size: medium;
   font-family: tt_walls_rough, Arial, sans-serif;
   text-decoration: none;
   vertical-align: middle;
   margin-top: 10px;
   }
.checkbuttons:hover {
   border-top-color: #292929;
   background: #292929;
   color: #f7f7f7;
   cursor: pointer;
   }
.checkbuttons:active {
   border-top-color: #000000;
   background: #000000;
   }
/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll{

}

.highdiv{
	display:inline;
	margin: 0 5vw 0 5vw;
	z-index: 100;
}
.highimg{
	height: 94vh;
	margin: 0 5vw 0 5vw;
}
.horizon
{
  z-index: 1;
	background: url('../img/wall.jpg') repeat top left;
	width: 3000px;
}

.middle
{
  z-index: 500;
}

.front
{
  z-index: 1000;
}



