﻿{% extends 'projects/index.html' %}

{% block sriptOnLoad %}
    var elems = document.getElementsByClassName('csi_slide');      
                if (elems.length > 0){
                    var count = 0;
                    var inter = setInterval(function(){
                        elems[count].classList.add('show');
                        count++;
                        if (count==elems.length){
                            clearInterval(inter);
                            return;
                        }
                    }, 520);
                }
{% endblock %}

{% block content %}

<div class="csi_wrap"></div>
<div class="csi_mid">
    <div class="contacts_scroll">
    
        <div class="contacts_scroll_item csi_left">

            <div class="csi_slide">
                <h4 class="csi_label">Для оперативной связи</h4>
                <div class="c_person">
                    <p class="c_person_text">Алексей Сайландер</p>
                    <p class="c_person_text">alexey@laikadesign.ru<span class="c_phone">+79046323000</span></p>
                </div>
                <div class="c_person">
                    <p class="c_person_text">Андрей Коршунов</p>
                    <p class="c_person_text">andrey@laikadesign.ru<span class="c_phone">+79116002030</span></p>
                </div>
            </div>
        </div>
    
        <div class="contacts_scroll_item">
            <div class="csi_slide">
                <form method="post" action="{% url 'contacts' %}">{% csrf_token %}
                    <h4 class="csi_label">Мы сами с вами свяжемся</h4>

                    <div>
                        <div class="name">
                            <input class="checkinput" placeholder="Имя" type="text" name="mess_name" >
                        </div>

                        <div class="email">
                            <input required class="checkinput" placeholder="Почта" type="email" name="mess_email" >
                        </div>
                          
                        <div class="phone">
                            <input class="checkinput" id="phone" placeholder="Телефон" type="text" name="mess_phone">
                        </div>

                        <div class="subject">
                            <input class="checkinput" placeholder="Тема" type="text" name="mess_subject">
                        </div>
                          
                    </div>

                    <div>
                        <textarea required class="checkinput textA" name="mess_message" placeholder="Сообщение" ></textarea>
                    </div>

                    
                    <input class="checkbuttons" type="submit" name="send_message" value="Отправить"/>
                </form>
            </div>
        </div>
        
        <div class="contacts_scroll_item">

            <div class="csi_slide">
                <h4 class="csi_label">Локализация в городах</h4>
                
                <div class="addr">
                    <div class="place">
                        г. Санкт-Петербург, ул.Цимбалина 23
                    </div>
                    <a class="map" target="_blank" href="https://yandex.ru/maps/2/saint-petersburg/?ll=30.428360%2C59.884689&z=18&whatshere%5Bpoint%5D=30.428902%2C59.884961&whatshere%5Bzoom%5D=18&mode=whatshere">-- Яндекс карта</a>
                    <div class="place p_bottom">
                        г. Великий Новгород, ул. Нехинская 59Б
                    </div>
                    <a class="map" target="_blank" href="https://yandex.ru/maps/24/veliky-novgorod/?ll=31.222207%2C58.521632&z=18&whatshere%5Bpoint%5D=31.223623%2C58.522101&whatshere%5Bzoom%5D=18&mode=whatshere">-- Яндекс карта</a>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="csi_wrap"></div>

{% endblock %}

{% block scriptScroll %}
    $(".contacts_scroll").mCustomScrollbar({
					axis:"x",
					theme:"dark-thin",
                    scrollbarPosition:"outside",
					//autoExpandScrollbar:true,
					advanced:{autoExpandHorizontalScroll:true}
				});
{% endblock %}

{% block bodyEndScript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/phone_form/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/phone_form/jquery.maskedinput-1.2.2.js"></script>

<script type="text/javascript">
    jQuery(function($) {
        $.mask.definitions['~']='[+-]';
        $('#phone').mask('(999) 999-9999');
    });
</script>
{% endblock %}