<!DOCTYPE html>
{% load laika_tags %}
<html xml:lang="ru" lang="ru">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="locale" content="ru">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/jpg" href="/favicon.jpg" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css"/>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.mCustomScrollbar.css">
        
        <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}
            {{ site_name }}{% endblock %}</title>
        <meta name="keywords" content="{% if meta_keywords %}{{ meta_keywords }}{% else %}Laikadesign, Дизайн помещений, эскизы{% endif %}" />
        <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}Laikadesign - разработка дизайна помещений, рабочей документации, полное сопровождение проектов.{% endif %}" />
        <meta name="author" content="Daniel Markelov" /> <!-- надо убрать, чтобы не отображался при шаре в фейсбук -->
        
        <meta property="og:url"           content="{{ request.build_absolute_uri|urlencode }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}" />
        <meta property="og:description"   content="{{ meta_description }}" />


    </head>


    <body > 
        <!-- Предзагрузка страниц / Preloader -->
        <div id="preloader"></div>
        <script type="text/javascript">
            var hellopreloader = document.getElementById("preloader");
            function fadeOutnojquery(el){
            el.style.opacity = 1;
                var interhellopreloader = setInterval(function(){
                    el.style.opacity = el.style.opacity - 0.05;
                    if (el.style.opacity <=0.05){ 
                        clearInterval(interhellopreloader);
                        hellopreloader.style.display = "none";
                    }
                },16);
            }
            
            window.onload = function(){
                setTimeout(function(){fadeOutnojquery(hellopreloader);},10);
                // через 320мс(длительность предыдущей функции после загрузки) добавляем новый класс элементу. Для всплытия блока.
                // setTimeout(function(){ 
                if (window.innerWidth > 768){

                    {% block sriptOnLoad %}{% endblock %}
                }
            };
            
        </script>

        <!-- Навигация / Navigation -->
        <header>    
            <div id="mini_menu">
                <img id="mini_menu_img" src="{{ MEDIA_URL }}static/mini_menu.png" alt="развернуть меню" nopin = "nopin" onclick="document.getElementById('nav_wrap_mid').style.display = 'block';document.getElementById('mini_menu_close').style.display = 'block'; document.getElementById('mini_menu_img').style.display = 'none'; document.getElementById('mini_menu_logo').style.display = 'list-item'"/>
            </div>
            <div class="nav_wrap">
                <a href="{% url 'index' %}">
                    <img id="logo_up" src="{{ MEDIA_URL }}static/logo-up-2.png" alt="Главная страница." nopin = "nopin"/>
                </a>
            </div>
            <div id="nav_wrap_mid">
                {% include "tags/navigation.html" %}
            </div>
            <div class="nav_wrap">
                <div style="height: 24.5vh;"></div>
                <div id="reposts">
                    <!-- виджеты социальных сетей / social networks wigets -->
                    <a class="share_link" href="http://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}" onclick="newWin(this.href, this.title); return false;">
                        <img class="share_buttons sb_left" src="{{ MEDIA_URL }}static/fb2.png" alt="репост facebook" nopin = "nopin"/>
                    </a>
                    
                    <a class="share_link" href="http://vk.com/share.php?url={{ request.build_absolute_uri|urlencode }}&title={% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}&description={{ meta_description }}&noparse=true" onclick="newWin(this.href, this.title); return false;" title="Сохранить в Вконтакте" target="_parent">
                        <img class="share_buttons" src="{{ MEDIA_URL }}static/vk2.png" alt="репост вконтакте" nopin = "nopin"/>
                    </a>
                    
                    <a class="share_link" href="https://twitter.com/share?url={{ request.build_absolute_uri|urlencode }}&related=twitterapi%2Ctwitter&hashtags=laikadesign&text={% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}%0A" onclick="newWin(this.href, this.title); return false;">
                        <img class="share_buttons" src="{{ MEDIA_URL }}static/tw2.png" alt="репост twitter" nopin = "nopin"/>
                    </a>
                    
                    <a class="share_link" data-pin-do="buttonBookmark" data-pin-custom="true" data-pin-save="false" href="https://www.pinterest.com/pin/create/button/">
                        <img class="share_buttons" src="{{ MEDIA_URL }}static/pint2.png" alt="репост pinterest" height="25" nopin = "nopin"/>
                    </a>

                </div>
            </div>
        </header>

        <!-- Основная зона контента / Content zone -->
        <main>
            <div id="main_wrap_up">
                
                
            </div>
            <div id="main">

                <div class="cont">
                    <div class="cont_wrap"></div>
                    <div id="cont_mid">
                        {% block content %}
                                <img id="scroll_button_left_vis" src="{{ MEDIA_URL }}static/left.png" alt="button left" onclick="document.getElementById('scroll_button_left').click();"/>
                                <img id="scroll_button_right_vis" src="{{ MEDIA_URL }}static/right.png" alt="button right" onclick="document.getElementById('scroll_button_right').click();"/>
                            <div class="index__scroll">
                                <div class="index__scroll_item isi_left first">
                                    <!--{% last_five_projects request.path %}-->
                                    <a href="{{ firstRand.get_absolute_url }}" class="last_five_link project_link firstRand" >
                                        <span class="descr"><p class="descr_text">{{ firstRand.project.short_description|ljust:"10"|linebreaksbr }}</p></span>
                                        <img src="{{ firstRand.preview.url }}" id="index__last__five"  alt="превью одной из последних визуализаций">
                                    </a>
                                </div>
                                <div class="index__scroll_item">
                                    <div class="block">
                                        <div class="small left">
                                            <!--p class="small_text_head">10 лет опыта</p-->
                                            <img class="small_img" src="{{ MEDIA_URL }}static/opit01.png" alt="small_img"/>
                                            <p class="small_text">наша команда имеет многолетний опыт в создании частных интерьеров</p>
                                        </div>
                                        <div class="small">
                                            <!--p class="small_text_head">Под ключ</p-->
                                            <img class="small_img" src="{{ MEDIA_URL }}static/Reliz01.png" alt="small_img"/>
                                            <p class="small_text">комплексное решение от согласования перепланировки до оформления декоратором</p>
                                        </div>   
                                        <div class="small left">
                                            <!--p class="small_text_head">Полная смета</p-->
                                            <img class="small_img" src="{{ MEDIA_URL }}static/smeta01.png" alt="small_img"/>
                                            <p class="small_text">полная смета по отделочным материалам, оборудованию, корпусной и мягкой мебели</p>
                                        </div>
                                        <div class="small">
                                            <!--p class="small_text_head">4200 м2</p-->
                                            <img class="small_img" src="{{ MEDIA_URL }}static/proekt01.png" alt="small_img"/>
                                            <p class="small_text">нами разработы и реализованы более 3000 м2 общественных и частных интерьеров</p>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="small left">
                                            <!--p class="small_text_head">Профессиональная поддержка</p-->
                                            <img class="small_img" src="{{ MEDIA_URL }}static/nadzor01.png" alt="small_img"/>
                                            <p class="small_text">авторский и технический надзор на всех этапах реализации проекта</p>
                                        </div>
                                        <div class="small">
                                            <!--p class="small_text_head">Поэтапное согласование</p-->
                                            <img class="small_img" src="{{ MEDIA_URL }}static/soglas01.png" alt="small_img"/>
                                            <p class="small_text">поэтапное согласование с заказчиком от планировочного решения до декорирования</p>
                                        </div>
                                        <div class="small left">
                                            <!--p class="small_text_head">Результат</p-->
                                            <img class="small_img" src="{{ MEDIA_URL }}static/rezultat01.png" alt="small_img"/>
                                            <p class="small_text">мы вдохновлены нашей работой и нацелены реализовать все в лучшем виде</p>
                                        </div>
                                        <div class="small">
                                            <!--p class="small_text_head">5%</p-->
                                            <img class="small_img" src="{{ MEDIA_URL }}static/procent01.png" alt="small_img"/>
                                            <p class="small_text">разработка проекта и его сопровождение это не более 3% от стоимости всего ремонта</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="index__scroll_item">
                                    
                                    <div class="block diag">
                                        <img class="block_img" src="{{ MEDIA_URL }}static/diagramma01.png" alt="диаграмма рассчёта стоимости ремонта">
                                    </div>
                                    <div class="block first">
                                        <!--{% indexSketchImages request.path %}-->
                                        <img src="{{ firstRandomImage.url }}" class="last_five_sketches firstRandomImage"  alt="превью одного из последних эскизов"/>
                                    </div>
                                </div>
                                <div class="index__scroll_item isi_left second">
                                    <!--{% last_five_projects request.path %}-->
                                    <a href="{{ secondRand.get_absolute_url }}" class="last_five_link project_link secondRand" >
                                        <span class="descr"><p class="descr_text">{{ secondRand.project.short_description|ljust:"10"|linebreaksbr }}</p></span>
                                        <img src="{{ secondRand.preview.url }}" id="index__last__five"  alt="превью одной из последних визуализаций">
                                    </a>
                                </div>
                                <div class="index__scroll_item">
                                    <div class="mid"><h4 class="mid_head">Зачем нужен дизайнер?</h4><p class="mid_text">Задача современного дизайна интерьера – организация баланса внутреннего мира человека и окружающей среды. Современные тенденции ставят перед дизайнером более сложные задачи, чем создание визуально привлекательного пространства. Это комплекс решений, направленных на улучшение качества жизни, где дизайнер создает среду обитания человека, в которой все логично и естественно. Дизайнер создает пространство для развития и вдохновения.</p></div> 
                                    <div class="mid"><h4 class="mid_head">Что включает в себя дизайн проект?</h4><p class="mid_text">Современный дизайн проект включает в себя три раздела. Первый - это визуальный ряд - эскизы или визуализации, по которым складывается восприятие интерьера. Второй – рабочая документация для просчета реализации проекта и решения технических задач. И третий – сводная спецификация по отделочным материалам и оборудованию, чтобы сформировать бюджет и скорректировать сроки реализации проекта.</p></div> 
                                    <div class="mid"><h4 class="mid_head">Когда обратиться к дизайнеру?</h4><p class="mid_text">При разработке проекта дизайнер всегда опирается на сроки реализации. В зависимости от поставленных задач выбирается пространственно-концептуальное решение, разрабатываются график этапности и выполнения самого проекта, поставки материалов и строительных работ. Грамотная планировка основа хорошего дизайн проекта и чем больше времи и сил возможно уделить ее формированию, тем более рациональными будут решения и сама концепция.</p></div> 
                                    <div class="mid"><h4 class="mid_head">Чем отличается предметный дизайн?</h4><p class="mid_text">Важнейшей способностью дизайнера является умение работать в заданном бюджете. Выбор наиболее рационального решения задачи, точный расчет количества отделочных материалов, ориентированность в стоимости и качестве аналогичного оборудования, составления графика финансовых вложений, заказ материалов и оборудования у проверенных поставщиков - все это позволяет дизайнеру экономить не только время, но и деньги заказчика.</p></div> 
                                </div>
                                <div class="index__scroll_item">
                                    <div class="block second">
                                        <!--{% indexSketchImages request.path %}-->
                                        <img src="{{ secondRandomImage.url }}" class="last_five_sketches secondRandomImage"  alt="превью одного из последних эскизов"/>
                                    </div>
                                    <div class="block diag">
                                        <div>
                                            <form method="post" action="{% url 'index' %}">{% csrf_token %}
                                                <div class="indexFormUp">
                                                    <h4 class="indexFormLabel">Заявка для рассчёта стоимости проекта</h4>
                                                    <input class="indexFormButton" type="submit" name="send_message" value="Отправить"/>
                                                </div>                                                    
                                                <div>
                                                    <div class="name">
                                                        <input class="indexFormInput" placeholder="Имя" type="text" name="mess_name" >
                                                    </div>

                                                    <div class="email">
                                                        <input required class="indexFormInput" placeholder="Почта" type="email" name="mess_email" >
                                                    </div>
                                                      
                                                    <div class="phone">
                                                        <input class="indexFormInput" id="indexPhone" placeholder="Телефон" type="text" name="mess_phone">
                                                    </div>

                                                    <div class="subject">
                                                        <input class="indexFormInput" placeholder="Тип объекта (дом, квартира, офис)" type="text" name="mess_object">
                                                    </div>
                                                    
                                                    <div class="subject">
                                                        <input class="indexFormInput" placeholder="Площадь, м2" type="text" name="mess_area">
                                                    </div>
                                                    
                                                    <div class="subject">
                                                        <input class="indexFormInput" placeholder="Адрес" type="text" name="mess_address">
                                                    </div>

                                                    <div>
                                                        <textarea class="indexFormInput indexComment" name="mess_message" placeholder="Доп. комментарии" ></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>    
                        {% endblock %}
                    </div>
                    <div class="cont_wrap"></div>
                </div>
			
            </div>
            <div id="main_wrap_dwn">
                <img id="logo_dwn" src="{{ MEDIA_URL }}static/logo-dwn.png" alt="Главная страница." nopin = "nopin"/>
            </div>
        </main>

        <footer>
        </footer>
        
        
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}js/jquery-1.11.0.min.js"><\/script>')</script>
	
	<!-- Настройки полос прокрутки / custom scrollbar -->
	<script src="{{ MEDIA_URL }}js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script>
		(function($){
			$(window).on("load",function(){
                if($(window).width() > 768) {
                    
                    {% block scriptScroll %}
                        var isi_amount=Math.max.apply(Math,$(".index__scroll_item").map(function(){return $(this).outerWidth(true);}).get());
                        $(".index__scroll").mCustomScrollbar({
                            axis:"x",
                            theme:"dark-thin",
                            scrollbarPosition:"outside",
                            //mouseWheel:{scrollAmount:200},
                            scrollButtons:{
                                enable:true,
                                scrollType:"stepped"
                            },
                            keyboard:{scrollType:"stepped"},
                            scrollType:"stepped",
                            snapAmount:isi_amount,
                            mouseWheel:{scrollAmount:isi_amount},
                            //autoExpandScrollbar:true,
                            advanced:{autoExpandHorizontalScroll:true}
                        });
                    {% endblock %}
                
                };
                
			});
		})(jQuery);
	</script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <script>
        function newWin(href, title){
            window.open(href, title, 'toolbar=0, status=0, width=548, height=325');
        }
    </script>
    {% block bodyEndScript %}{% endblock %}
    
    </body>

</html>