﻿{% extends "projects/index.html" %}

{% block sriptOnLoad %}
    var prh = document.getElementById('price_head');
    var prs = document.getElementById('price__scroll');
    var dwnl = document.getElementById('downloads');
    setTimeout(function(){prh.classList.add('show');},200);
    setTimeout(function(){prs.classList.add('show');},800);
    setTimeout(function(){dwnl.classList.add('show');},1400);
{% endblock %}

{% block content %}
<div id="price">
    <div id="price_head">
        <h2>ВАРИАНТЫ ИСПОЛНЕНИЯ ПРОЕКТА И СТОИМОСТЬ</h2>
        <div id="price_images">
            <img class="price_image" src="{{ MEDIA_URL }}static/lignt01.png" alt="изображение ценовой категории">
            <img class="price_image" src="{{ MEDIA_URL }}static/standart01.png" alt="изображение ценовой категории">
            <img class="price_image" src="{{ MEDIA_URL }}static/premium01.png" alt="изображение ценовой категории">
        </div>
    </div>
    <div id="price__scroll">
        
            <div class="price_variants">
                <h3>Проект Premium (1500р/кв м)</h3>
                    <ul class="ul-dropfree ul-treefree">
                        <li>Стадия эскиз и сбор данных (400р/кв м)
                            <ul>
                                <li>3-4 варианта планировки + 1 совместный вариант</li>
                                <li>подборка стиля и персонализация интерьера</li>
                                <li>moodboard подборка с основными дизайн-решениями (концепция проекта)</li>
                                <li>трехмерная схема с визуализацией согласованной планировки</li>
                            </ul>
                        </li>
                        <li class="pli">Дизайн помещений и визуализации (600р/кв м)
                            <ul>
                                <li>подборка отделочных материалов 1-2 варианта (по moodboard)</li>
                                <li>инженерная подборка оборудования</li>
                                <li>разработка встроенной мебели и гардероба</li>
                                <li>разработка кухонного гарнитура</li>
                                <li>подборка мягкой и корпусной мебели</li>
                                <li>авторская разработка предметов интерьера или арт-объектов</li>
                                <li>3d визуализации дизайн решений по помещениям (2-4 вида)</li>
                            </ul>
                        </li>
                        <li class="pli">Рабочая документация (500р/кв м)
                            <ul>
                                <li>развернутое техническое задание на разработку проекта</li>
                                <li>обмерные чертежи
                                    <ul>
                                        <li>обмерные работы на объекте</li>
                                        <li>план помещения</li>
                                        <li>разрезы</li>
                                        <li>фотофиксация</li>
                                        <li>фиксация инженерных сетей</li>
                                    </ul>
                                </li>
                                <li>общестроительные схемы
                                    <ul>
                                        <li>расстановка мебели и оборудования с привязками</li>
                                        <li>план демонтажа с расчетом объема работ</li>
                                        <li>план возводимых конструкций с привязкой и расчетом объема работ</li>
                                        <li>проработка деталей и узлов возводимых конструкций</li>
                                        <li>напольные покрытия с привязками и детализации оснований</li>
                                        <li>детали и сечения полов</li>
                                        <li>схема потолков</li>
                                        <li>детали и сечения потолков</li>
                                        <li>развертки с проработкой узлов</li>
                                        <li>развертка всех помещений с раскладкой материалов</li>
                                        <li>развертки помещений с дизайн-решениями</li>
                                    </ul>
                                </li>
                                <li>инженерные сети
                                    <ul>
                                        <li>электрическая сеть (розетки)</li>
                                        <li>сеть освещения</li>
                                        <li>план теплых полов и системы отопления</li>
                                        <li>план слаботочных систем</li>
                                        <li>подключение сантехнического оборудования</li>
                                        <li>схема электрического щитка</li>
                                        <li>схема коллекторного узла</li>
                                    </ul>
                                </li>
                                <li>ведомости и спецификации
                                    <ul>
                                        <li>спецификация отделочных материалов</li>
                                        <li>спецификация силового электрооборудования (розетки и выключатели)</li>
                                        <li>спецификация элементов освещения</li>
                                        <li>спецификация сантехнического оборудования + подбор моделей</li>
                                        <li>спецификация встраиваемой мебели и кухонного гарнитура</li>
                                        <li>спецификация мягкой и корпусной мебели</li>
                                        <li>спецификация заполнения дверных проемов</li>
                                        <li>смежная ведомость строительных работ</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                <br>
                <h3>Проект Standart (1000р/кв м)</h3>
                    <ul class="ul-dropfree ul-treefree">
                        <li class="pli">Стадия эскиз и сбор данных (200р/кв м)
                            <ul class="pul">
                                <li>2-3 варианта планировки + 1 совместный вариант</li>
                                <li>подборка стиля интерьера и основные дизайн-решения (концепция проекта)</li>
                                <li>трехмерная схема согласованной планировки</li>
                            </ul>
                        </li>
                        <li class="pli">Дизайн помещений и визуализации (500р/кв м)
                            <ul>
                                <li>черновые эскизы или moodboard интерьера</li>
                                <li>подборка отделочных материалов и оборудования</li>
                                <li>подборка корпусной и мягкой мебели</li>
                                <li>3d визуализации дизайн решений по помещениям (1-3 вида)</li>
                            </ul>
                        </li>
                        <li class="pli">Рабочая документация (300р/кв м)
                            <ul>
                                <li>техническое задание на разработку проекта</li>
                                <li>обмерные чертежи
                                    <ul>
                                        <li>обмерные работы на объекте</li>
                                        <li>план помещения</li>
                                        <li>фотофиксация</li>
                                    </ul>
                                </li>
                                <li>общестроительные схемы
                                    <ul>
                                        <li>расстановка мебели и оборудования с привязками</li>
                                        <li>демонтажный план</li>
                                        <li>план возводимых конструкций с привязкой</li>
                                        <li>детали и узлы сложных возводимых конструкций</li>
                                        <li>напольные покрытия с привязками</li>
                                        <li>схема потолков с привязкой и детализацией узлов</li>
                                        <li>развертки помещений и раскладка материалов</li>
                                    </ul>
                                </li>
                                <li>инженерные сети
                                    <ul>
                                        <li>план отопления и теплых полов</li>
                                        <li>электрическая сеть (розетки)</li>
                                        <li>сеть освещения</li>
                                        <li>подключение сантехнического оборудования</li>
                                        <li>электрическая сеть слаботочных систем</li>
                                    </ul>
                                </li>
                                <li>ведомости и спецификации
                                    <ul>
                                        <li>спецификация отделочных материалов (модели, цены, сроки)</li>
                                        <li>спецификация электрооборудования (розетки + выключатели)</li>
                                        <li>спецификация элементов освещения (модели, цены, сроки)</li>
                                        <li>спецификация сантехнического оборудования (модели, цены, сроки)</li>
                                        <li>спецификация заполнения дверных проемов</li>
                                        <li>смежная ведомость кухонного гарнитура и встраиваемой мебели</li>
                                        <li>смежная ведомость мягкой и корпусной мебели</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                <br>
                <h3>Проект Light (500р/кв м)</h3>
                    <ul class="ul-dropfree ul-treefree">
                        <li class="pli">Стадия эскиз и сбор данных (100р/кв м)
                            <ul class="pul">
                                <li>1 вариант планировки + 1 совместный вариант</li>
                                <li>подборка стиля интерьера</li>
                                <li>трехмерная схема согласованной планировки</li>
                            </ul>
                        </li>
                        <li class="pli">Дизайн помещений и визуализации (200р/кв м)
                            <ul>
                                <li>цветные эскизы или moodboard интерьера</li>
                                <li>подборка отделочных материалов и оборудования</li>
                            </ul>
                        </li>
                        <li class="pli">Рабочая документация (200р/кв м)
                            <ul>
                                <li>техническое задание на разработку проекта</li>
                                <li>обмерные чертежи
                                    <ul>
                                        <li>обмерные работы на объекте</li>
                                        <li>план помещения</li>
                                        <li>фотофиксация</li>
                                    </ul>
                                </li>
                                <li>общестроительные схемы
                                    <ul>
                                        <li>расстановка мебели и оборудования</li>
                                        <li>демонтажный план</li>
                                        <li>схема и привязка возводимых конструкций</li>
                                        <li>напольные покрытия</li>
                                        <li>план потолков</li>
                                        <li>развертки помещений с настенной плиткой (привязки раскладки)</li>
                                    </ul>
                                </li>
                                <li>инженерные сети
                                    <ul>
                                        <li>электрическая сеть</li>
                                        <li>сеть освещения</li>
                                        <li>расстановка сантехнического оборудования</li>
                                    </ul>
                                </li>
                                <li>ведомости и спецификации
                                    <ul>
                                        <li>сводная спецификация отделочных материатов и сантехники</li>
                                        <li>сводная спецификация дверей, мебели, освещения и оборудования</li>
                                        <li>ведомость элементов корпусной и мягкой мебели</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
            </div>
    </div>
    <div id="downloads">
        <a href="{{ MEDIA_URL }}static/docs/Primer_spetsifikatsii.pdf" class="download_link" download>Скачать пример альбома с чертежами</a>
        <a href="{{ MEDIA_URL }}static/docs/Primer_spetsifikatsii.pdf" class="download_link" download>Скачать пример сводной спецификации</a>
    </div>
</div>

{% endblock %}

{% block scriptScroll %}
    $("#price__scroll").mCustomScrollbar({
					theme:"dark-thin",
					//scrollbarPosition:"outside",
                    //autoExpandScrollbar:true
				});
{% endblock %}

{% block bodyEndScript %}
    <script>
        $(".ul-dropfree").find("li:has(ul)").prepend('<div class="drop"></div>');
        $(".ul-dropfree div.drop").click(function() {
            if ($(this).nextAll("ul").css('display')=='none') {
                $(this).nextAll("ul").slideDown(400);
                $(this).css({'background-position':"-11px 0"});
            } else {
                $(this).nextAll("ul").slideUp(400);
                $(this).css({'background-position':"0 0"});
            }
        });
        $(".ul-dropfree").find("ul").slideUp(400).parents("li").children("div.drop").css({'background-position':"0 0"});
    </script>
{% endblock %}