{% extends "projects/index.html" %}

{% block content %}
<div class="project">
    <div class="project_wrap">
        <img id="scroll_button_left_vis" src="{{ MEDIA_URL }}static/left.png" alt="button left" onclick="document.getElementById('scroll_button_left').click();"/>
        <img id="scroll_button_right_vis" src="{{ MEDIA_URL }}static/right.png" alt="button right" onclick="document.getElementById('scroll_button_right').click();"/>
        <!-- Название проекта / Project's name -->
        
        {% if back == "skview" %}
            <a class="project_name_link" href="{% url 'projects:skview' %}"><h1 class="project_name">< {{ p }}</h1></a>
        {% elif back == "visview" %}
            <a class="project_name_link" href="{% url 'projects:visview' %}"><h1 class="project_name">< {{ p }}</h1></a>
        {% elif back == "impview" %}
            <a class="project_name_link" href="{% url 'projects:impview' %}"><h1 class="project_name">< {{ p }}</h1></a>
        {% endif %}
        <div class="images__scroll" >
            <ul>
                
                {% for image in p.images.all %}
                    <!--a href="{{ image.image.url }}"-->
                        <img class="details__image" src="{{ image.image.url }}"  alt="изображение проекта" />
                    <!--/a-->
                {% endfor %}
            </ul>
        </div>
    </div>
  
    <div id="p_text" class="project_wrap">
        <img id="scroll_button_up_vis" src="{{ MEDIA_URL }}static/up.png" alt="button up" onclick="document.getElementById('scroll_button_up').click();"/>
        <img id="scroll_button_down_vis" src="{{ MEDIA_URL }}static/down.png" alt="button down" onclick="document.getElementById('scroll_button_down').click();"/>
        <div class="text__scroll"><div class="t_scroll">{{ p.project.description|ljust:"10"|linebreaksbr }}</div></div>
	</div>
    
</div> 

{% endblock %}

{% block scriptScroll %}
    var isi_amount=Math.max.apply(Math,$(".details__image").map(function(){return $(this).outerWidth(true);}).get());
    $(".images__scroll").mCustomScrollbar({
        axis:"x",
		theme:"dark-thin",
        scrollType:"stepped",
        scrollbarPosition:"outside",
        //mouseWheel:{scrollAmount:300},
		//autoExpandScrollbar:true,
        scrollButtons:{
						enable:true,
						scrollType:"stepped"
					},
        //snapAmount:500,
        snapAmount:isi_amount,
		mouseWheel:{scrollAmount:isi_amount},
        //mouseWheel:{scrollAmount:300},
		advanced:{autoExpandHorizontalScroll:true}
	});
    $(".text__scroll").mCustomScrollbar({
		theme:"dark-thin",
        scrollButtons:{
						enable:true,
						scrollType:"stepped",
                        scrollAmount:300
					},
		//scrollbarPosition:"outside",
        //autoExpandScrollbar:true
	});
{% endblock %}