﻿{% extends "projects/index.html" %}
{% block sriptOnLoad %}
    var persons = document.getElementsByClassName('person_name');
                if ( persons.length > 0 ){
                    var lines = document.getElementsByClassName('person_name_line');
                    var pfb = document.getElementsByClassName('person_first_block');
                    
                    var count = 0;

                    var inter = setInterval(function(){
                        persons[count].classList.add('show');
                        lines[count].classList.add('show');
                        pfb[count].classList.add('show');
                        
                        count++;
                        if (count==persons.length){
                            clearInterval(inter);
                            return;
                        }
                    }, 1020);    
                }
{% endblock %}
{% block content %}
    
    <div class="csi_wrap"></div>
    <div class="csi_mid">
        <div class="person">
            <div class="person_name">
                <h5 class="person_name_line"></h5>
            </div>
            <div class="person_first_block">
                <img src="{{ MEDIA_URL }}static/as.jpg" class="person_img"  alt="фото сотрудника"></img>
                <p class="job">Алексей Сайландер</p>
                <p class="short_story">Ведущий архитектор</p>
            </div>
            
           
        </div>
        <div class="person">
            <div class="person_name">
                <h5 class="person_name_line"></h5>
            </div>
            <div class="person_first_block">
                <img src="{{ MEDIA_URL }}static/ak.jpg" class="person_img"  alt="фото сотрудника"></img>
                <p class="job">Андрей Коршунов</p>
                <p class="short_story">Креативный директор</p>
            </div>
            <div class="cb"></div>

        </div>
        
        <div class="person">    
            <div class="person_name">
                
                <h5 class="person_name_line"></h5>
            </div>
            <div class="person_first_block">
                <img src="{{ MEDIA_URL }}static/e.jpg" class="person_img"  alt="фото сотрудника"></img>
                <p class="job">Екатерина Торопова</p>
                <p class="short_story">Дизайнер интерьера</p>
            </div>
            <div class="cb"></div>

        </div>
        <div class="person">    
            <div class="person_name">
                
                <h5 class="person_name_line"></h5>
            </div>
            <div class="person_first_block">
                <img src="{{ MEDIA_URL }}static/ie.jpg" class="person_img"  alt="фото сотрудника"></img>
                <p class="job">Иван Елагин</p>
                <p class="short_story">Дизайнер интерьера</p>
            </div>
            <div class="cb"></div>

        </div>
        <div class="person">    
            <div class="person_name">
                
                <h5 class="person_name_line"></h5>
            </div>
            <div class="person_first_block">
                <img src="{{ MEDIA_URL }}static/nv.jpg" class="person_img"  alt="фото сотрудника"></img>
                <p class="job">Наталья Васильева</p>
                <p class="short_story">Менеджер проектов</p>
            </div>
            <div class="cb"></div>

        </div>
        
    </div>
    <div class="csi_wrap"></div>
{% endblock %}

{% block scriptScroll %}
                var ls_amount=Math.max.apply(Math,$(".person").map(function(){return $(this).outerWidth(true);}).get());
                $(".csi_mid").mCustomScrollbar({
					axis:"x",
					theme:"dark-thin",
                    scrollbarPosition:"outside",
                    //mouseWheel:{scrollAmount:200},
                    scrollButtons:{
						enable:true,
						scrollType:"stepped"
					},
					keyboard:{scrollType:"stepped"},
                    scrollType:"stepped",
					//autoExpandScrollbar:true,
					advanced:{autoExpandHorizontalScroll:true},
                    snapAmount:ls_amount,
					mouseWheel:{scrollAmount:ls_amount}
				});    
{% endblock %}