{% load thumbnail %}


{% with active_implementations as imp %}
    <div class="list__scroll">

            {% for i in imp %}

                        <a href="{{ i.get_absolute_url }}" class="project_link">
                            <span class="descr"><p class="descr_text">{{ i.project.short_description|ljust:"10"|linebreaksbr }}</p></span>
                            
                            <img class="projects__list__img" src="{{ i.preview.url }}"  alt="превью реализации">
                            
                        </a>

            {% endfor %}

    </div>
{% endwith %}
