{% load thumbnail %}

{% with last_five_sket as p %}

            <a href="{{ p.get_absolute_url }}" class="last_five_link project_link_small">
                <span class="descr descr_small"><p class="descr_text">{{ p.project.short_description|ljust:"10"|linebreaksbr }}</p></span>
                
                    <img src="{{ p.preview.url }}" class="last_five_sketches"  alt="превью одного из последних эскизов">
                
            </a>

{% endwith %}