{% load thumbnail %}

{% with firstRand as p %}

            <a href="{{ p.get_absolute_url }}" class="last_five_link project_link firstRand" >
                <span class="descr"><p class="descr_text">{{ p.project.short_description|ljust:"10"|linebreaksbr }}</p></span>
                <img src="{{ p.preview.url }}" id="index__last__five"  alt="превью одной из последних визуализаций">
            </a>

{% endwith %}
{% with secondRand as s %}

            <a href="{{ s.get_absolute_url }}" class="last_five_link project_link secondRand" >
                <span class="descr"><p class="descr_text">{{ s.project.short_description|ljust:"10"|linebreaksbr }}</p></span>
                <img src="{{ s.preview.url }}" id="index__last__five"  alt="превью одной из последних визуализаций">
            </a>

{% endwith %}