<h2 class="h2_menu">Меню</h2>

<div id="mini_menu_close" onclick="document.getElementById('nav_wrap_mid').style.display = 'none';document.getElementById('mini_menu_close').style.display = 'none'; document.getElementById('mini_menu_img').style.display = 'inline'; document.getElementById('mini_menu_logo').style.display = 'none'"/>X</div>
<ul id="menu">
    <li class="menu_li" id="mini_menu_logo">
        <a id="mini_logo_up_link" href="{% url 'index' %}">
            <img id="mini_logo_up" src="{{ MEDIA_URL }}static/logo-up-2.png" alt="Главная страница." nopin = "nopin"/>
        </a>
    </li>
    <li class="menu_li"><h3 class="h3_menu"><a {% if location == 'ske' %} class="menu__a__active" {% else %} class="menu__a" {% endif %}    href="{% url 'projects:skview' %}">Эскизы</a></h3></li>
    <li class="menu_li"><h3 class="h3_menu"><a {% if location == 'vis' %} class="menu__a__active" {% else %} class="menu__a" {% endif %}    href="{% url 'projects:visview' %}">Визуализация</a></h3></li>
    <!--li class="menu_li"><h3 class="h3_menu"><a {% if location == 'imp' %} class="menu__a__active" {% else %} class="menu__a" {% endif %}    href="{% url 'projects:impview' %}">Реализация</a></h3></li-->
    <li class="menu_li"><h3 class="h3_menu"><a {% if location == 'price' %} class="menu__a__active" {% else %} class="menu__a" {% endif %}  href="{% url 'prices' %}">Cтоимость</a></h3></li>
    <li class="menu_li"><h3 class="h3_menu"><a {% if location == 'team' %} class="menu__a__active" {% else %} class="menu__a" {% endif %}  href="{% url 'team' %}">Команда</a></h3></li>
    <li class="menu_li"><h3 class="h3_menu"><a {% if location == 'cont' %} class="menu__a__active" {% else %} class="menu__a" {% endif %}   href="{% url 'contacts' %}">Контакты</a></h3></li>
</ul>
<div class="cb"></div>