{% load thumbnail %}


{% with active_sketches as sk %}
    <div class="list__scroll">

            {% for s in sk %}
            
                        <a href="{{ s.get_absolute_url }}" class="project_link">
                            <span class="descr"><p class="descr_text">{{ s.project.short_description|ljust:"10"|linebreaksbr }}</p></span>
                            
                            <img class="projects__list__img" src="{{ s.preview.url }}"  alt="превью эскиза">
                        </a>
          
            {% endfor %}

    </div>
{% endwith %}
