{% load thumbnail %}


{% with active_visualizations as vis %}
    <div class="list__scroll">

            {% for v in vis %}
            
                        <a href="{{ v.get_absolute_url }}" class="project_link">
                            <span class="descr"><p class="descr_text">{{ v.project.short_description|ljust:"10"|linebreaksbr }}</p></span>
                            
                            <img class="projects__list__img" src="{{ v.preview.url }}"  alt="превью визуализации">
                        </a>

            {% endfor %}

    </div>
{% endwith %}
